@import '~react-table-factory/styles/withFixedHeader';
@import '~react-table-factory/styles/withHeaderCellOverflow';
@import '~react-table-factory/styles/withSortingContext';
@import '~react-table-factory/styles/withInlineDetailsContext';

.scrollable-table .adaptive-col-name {
    display: none;
}

@media all and (max-width: 940px) {
    @import '~react-table-factory/styles/withAdaptive';

    .scrollable-table {
        @extend .adaptive-table;
    }

    .scrollable-table {
        .multi-line {
            display: inline-flex;
            justify-content: flex-end;
            
            div + div::before  {
                content: ',';
                margin-right: 5px;
            }
        }
    }
}