.scrollable-table {
    --bg-color: #fff;
    --header-ft-size: 12px;
    --cell-ft-size: 14px;
    --v-align: left;
    --cell-padding: 4px 22px 4px 12px;
    --border-color: #e7e9eb;
    --even-bg-color: #f9f9f9;
    --cell-height: 64px;
}
    
thead th, tbody tr:not(.inline-details) td {
    padding: var(--cell-padding);
    text-align: var(--v-align);
    height: var(--cell-height);
    background-color: var(--bg-color);
}

th {
    font-size: var(--header-ft-size);
    background-color: var(--bg-color);
    position: relative;
}

tbody tr td {
    border-bottom: 1px solid var(--border-color);
}

tbody tr:nth-child(even) td {
    background-color: var(--even-bg-color);
}

tbody [tabIndex] {
    cursor: pointer;
}

tbody [tabIndex]:focus {
    outline: 2px auto #47d280;
}

tbody td {
    font-size: var(--cell-ft-size);
}

thead {
    border-bottom: 1px solid var(--border-color);
}

.scrollable-table-content {
    padding-bottom: 40px;
}

.scrollable-table-wrapper {
    padding: 0px 20px;
}

.adaptive-col-name {
    display: none;
}

.scrollable-table-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    top: var(--cell-height);
}

.scrollable-table-content table {
    margin-top: calc(var(--cell-height)*(-1));
    border-bottom: 2px solid var(--border-color);
}

@media all and (max-width: 940px) {
    thead,
    tfoot,
    .scrollable-fake-table {
        display: none;
    }

    tbody tr {
        display: block;
        border-color: var(--border-color);
        border-style: solid;
        border-width: 1px 1px 0px 1px;
    }
    
    tbody td {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color) !important;
    }

    tbody tr:not(:last-child):not(.selected-row) {
        margin-bottom: 30px;
    }

    tbody td > :last-child:not(:first-child) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    tbody td > * {
        flex: 1;
        text-align: right;
    }

    .adaptive-col-name {
        display: block;
        text-align: left;
    }

    .scrollable-table-content {
        top: 20px;
    }

    .scrollable-table-content table {
        margin-top: 0;
        border: 0;
    }
    
    .scrollable-table-wrapper {
        padding: 0 20px 0 8px;
    }

    .scrollable-table-content {
        top: 8px;
    }
}